{% extends "base.html" %}
{% block content %}
<h2>Q&A</h2>
<a href="{{ url_for('post.write', category='qna') }}" id="write-btn">글 작성</a>


<ul>
{% for post in posts %}
    <li>
        <a href="{{ url_for('post.detail', post_id=post.id) }}">
            {{ post.title }}
        </a>
        작성자: - {{ post.author.username }} |
            {{ post.created_at.strftime('%Y-%m-%d %H:%M') }}
             (조회수: {{ post.views }})  
        {% if user and post.author_id == user.id %}
            <a href="{{ url_for('post.update', post_id=post.id) }}">수정</a>
            <a href="{{ url_for('post.delete', post_id=post.id) }}" onclick="return confirm('정말 삭제하시겠습니까?')">삭제</a>
        {% endif %}
    </li>
{% endfor %}
</ul>

<script>
const isLoggedIn = {{ 'true' if logged_in else 'false' }};

const writeBtn = document.getElementById('write-btn');

if (writeBtn) {
    writeBtn.addEventListener('click', function(e) {
        if (!isLoggedIn) {
            e.preventDefault();
            alert("로그인 하시면 서비스 이용이 가능합니다.");
            window.location.href = "/login";
        }
    });
}
</script>
{% endblock %}